*{
	margin: 0px;
	padding: 0px;
}
body{
	height: 100%;
}
body
{
	background: #393e42;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
}
#page{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}
#header{
	width: 300px;
	height: 700px;
	background-color: #343536;
	padding-top: 50px;
	float: left;
}
#container{
	width: 899px;
	height: 800px;
	background-color: #3d3e42;
	float: left;
	border-right: 1px solid #fff;
}
.logo{
	width: 120px;
	height: 180px;
	margin: 0 auto;
}
.logo>img{
	height: 120px;
	width: 120px;
	border-radius: 60px;
	overflow: hidden;
}
.logo>h2{
	font-family: arial;
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}
#bar-list>li{
	width: 600px;
	height: 80px;
	list-style: none;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 80px;
}
#bar-list{
	height: 900px;
	width: 300px;
	background-color: #343536;
	overflow: hidden;
	float: right;
}
.bg-roll{
	width: 300px;
	height: 80px;
	background-color: #b69e40;
}
.list{
	height: 80px;
	width: 300px;
	float: left;
}
.nav div{
	float: left;
}
#bar-list a{
	color: #fff;
	text-decoration: none;
	position: relative;
	z-index: 1;
}
.list a{
	width: 300px;
	display: block;
}
.list>a>img{
	position: relative;
	top: 6px;
	left: 70px;
}
.list>a>span{
	margin-left: 80px;
}
.homework{
	list-style-type: none;
}
.work a{
	color: #0086cc;
}
.work div{
	height: 100px;
	margin-top: 20px;
	color: #b69e40;
	font-family: impact,arial;
	font-size: 35px;
	text-align:center;
}
.homeworklist{
	width: 200px;
	height: 250px;
	color: #fff;
	font-family: impact,arial;
	text-align: center;
	border: 2px #fff solid;
	border-color: #b69e40;
	margin-top: 20px;
	margin-left: 15px;
	float: left;
}
.homework{
	width: 200px;
	text-align: center;
}
.homework-h5{
	background-image: url(../photos/html5.png);
	background-size:cover;
}
.homework-js{
	background-image: url(../photos/js.png);
	background-size:cover;
	background-position: 15px 2px;
	background-repeat: no-repeat;
}
